# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Login_Java\mywebs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
